/* src/professionalProfile/ProfessionalProfile.css */

.profile-header {
    background-color: #f0f0f0; /* Light grey background */
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
  }
  
  .profile-name {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 15px; /* Increase margin below the name */
    margin-left: 10px;
  }
  
  .book-button {
    padding: 8px 16px; /* Smaller padding for a smaller button */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em; /* Slightly smaller font size */
    margin-top: 10px; /* Add padding above the button */
  }
  
  .book-button:hover {
    background-color: #555; /* Slightly lighter on hover */
  }
  
  .profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 150px; /* Move profile picture to the left */
  }
  
  .profile-picture svg {
    width: 150px; /* Increase size of the profile picture */
    height: 150px;
  }  

  .services-header {
    font-size: 1.5em; /* Adjust size as needed */
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }

  .reviews-container {
    display: flex;
    gap: 20px; /* Add space between each card */
    flex-wrap: wrap; /* Allows cards to wrap to the next line on smaller screens */
  }