/* src/components/Sidebar.css */

/* Default styles for nav links */
.nav-link {
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  /* Active tab styles */
  .active-tab {
    background-color: #525355; /* Highlight the active tab */
    color: white !important; /* Ensure text is white */
  }
  